*{
        margin: 0;
        padding: 0;
        
    }
    header{
        background-color: #EE7217;
        height: 80px;
        width: 100%;
        font-size: 20px;
    
    
    }
    
    .logo{
        float: left;
        size: 20%;
        padding-left: 10px;
        padding-top: 5px;
        
    }

    .nav1{
        float: right;
    }

.nav1 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    

}

.nav1 a{
    text-decoration: none;
    color: #fef6df;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    
}

.nav1 a:hover{
    color: #333;
}

body{background-color: #190C27;}

h1{
    color: #fef6df;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contacto{

    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fef6df;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 25%;
}


.simbolos{
    
    text-align: right;
    background-color: #190C27;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

footer{

    background-color: rgb(0, 0, 0);
    
    height: 70px;
    width: 100%;
    text-align:center;
        
    
}

footer i{
    font-size: 30px;
    color: #fef6df;
    margin-right: 5px;
}

@media only screen and (min-width: 480px) and (max-width:599px)

